{{#each data.fields }}
{{this.type}} {{ this.value}}</br>
 <div class="mb-3">
    <label for="{{this.name}}" class="form-label">{{this.value}}</label>
    <input type="{{this.type}}" name="{{this.name}}" class="this-form" id="{{this.name}}">
  </div>
{{/each}}


{{!--
https://www.madtakes.com/libs/178.html

Dear School Nurse:
jiggle Hurtado will not be attending school today. He/she has come down with a case of flu and has horrible cuts and a/an squeamish fever. We have made an appointment with the cautious Dr. wiggle, who studied for many years in Guatemala and has -5 degrees in pediatrics. He will send you all the information you need. Thank you!
Sincerely
Mrs. equal.

}}