{{#if products}}
  {{#each products}}
    {{> addcart}}
    <p>Product ID: {{this.id}}</p>
    <p>Product Name: {{this.name}}</p>
    <p>Price: ${{this.price}}</p>
    {{this. image}}
    <a href="/category/{{this.category}}/details/{{this.id}}">View product details</a><br>
  {{/each}}
{{else}}
  <p>No products found</p>
{{/if}}
