{{!-- Florence Page --}}
{{> header title="Florence - The Cradle of the Renaissance"}}

<section class="slideshow">
    {{!-- Slideshow partial --}}
    {{> slideshow images=gallery.images }}
</section>

<section class="about">
    <h2>About Florence</h2>
    <p>{{data.about}}</p>
</section>

<section class="services">
    <h2>Services in Florence</h2>
    <ul>
        {{#each data.services}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</section>

<section class="packages">
    <h2>Tour Packages for Florence</h2>
    <div class="owl-packages">
        {{#each data.packages}}
            <div class="package-item">
                <h3>{{this.name}}</h3>
                <p>{{this.description}}</p>
                <p>Price: {{this.price}}</p>
            </div>
        {{/each}}
    </div>
</section>

<section class="gallery">
    {{!-- Gallery partial --}}
    {{> gallery images=gallery.images }}
</section>

{{> footer}}
